@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.header-wrapper {
    width: 100%;
    height: fit-content;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 380px;
    height: 60px;
    background-color: #8BB0BA;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
}